.main {
    background-image: url(https://images.unsplash.com/photo-1547104442-044448b73426?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
    background-size: cover;
    padding-bottom: 50px;
}