.font-fam {
  font-family: 'Montserrat', sans-serif;
}
.bg-img {
  background-image: url(https://images.unsplash.com/photo-1547104442-044448b73426?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
  box-shadow: rgba(0, 0, 0, 0.514) 0px 3px 8px;
  border: 1px solid gray;
  width: 53%;
}

.bg-color {
  background-color: #d4d0cb;
}

.mini-cont {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 1px solid gray;
  width: 50%;
}

.button-col {
  background-color: rgba(189, 181, 149, 0.445);
  border: 1px solid rgb(122, 122, 122);
  padding: 15px;
  font-weight: 500;
  color: #32292f;
}

.button-col:hover {
  background-color: #9a998c;
  border: 1px solid rgb(122, 122, 122);
}

.button-col:focus {
  background-color: #9a998c;
}

.border-rad {
  border-radius: 35px;
}

.form-input-style {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

.error-msg {
  color: rgba(255, 0, 0, 0.685);
  background-color: none !important;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.placeholder-font {
  font-size: 15px;
  font-weight: 500;

}
