td {
    font-family: 'Montserrat', sans-serif;
}

th {
    font-family: 'Italiana', serif;
    border: 1px solid #9A998C;
}
thead, tbody {
    text-align: center;
}

.about-container{
    height: fit-content;
}
h6 {
    font-weight: 300;
    margin-bottom: 25px;
}

p {
    background: RGBA(154,153,140,0.14);
    color: #453F3C;
    padding: 7px 15px;
    border-radius: 15px;
    width: fit-content;
}

.p-about {
    margin-bottom: 40px;
}