.candidateImg {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin-top: -20px;
  background-color: inherit;
}

.candidate {
  margin-top: 10px;
  background-color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 1px solid gray;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  
}

h2 {
  font-family: 'Italiana', serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-username, .card-email {
  padding: 10px;
  overflow:hidden; 
  word-wrap:break-word;
}

.card-username {
  margin-top: 7px;
}
